.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.board-container {
  width: 500px;
  display: grid;
  grid-template-columns: repeat(10, auto);
  gap: 5px;
  padding: 20px;
}

.score-container {
  margin-top: 20px;
}
